@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 56px;
    height: 56px;
    background: rgb(255,255,255);
    background: linear-gradient(54deg, rgba(255,255,255,0.1) 0%, rgba(29,99,255,0.1) 100%);
}

.img-purple-shadow {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(167,177,255,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(167,177,255,1);
    box-shadow: 0px 0px 20px 0px rgba(167,177,255,1);
}

.header-shadow {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(167,177,255,0.40);
    -moz-box-shadow: 0px 0px 20px 0px rgba(167,177,255,0.40);
    box-shadow: 0px 0px 20px 0px rgba(167,177,255,0.40);
}

.radio-input {
    display: none;
}
  
.radio-label {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.radio-label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #716F85;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
}
  
.radio-input:checked + .radio-label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #716F85;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

.radio-input:checked + .radio-label::before {
    background-color: #2118FF;
}

.radio-label {
    color: #716F85;
    font-size: 16px;
}

.form-contato {
    @apply w-full md:max-w-[683px] bg-white md:rounded py-8 px-4 md:p-12;
}

.custom-input {
    @apply bg-[#F6F6F8] rounded-[6px] w-full py-[16px] px-[32px] outline-1 outline-[#2118FF] placeholder:text-neutral-500 text-neutral-950;
}

.file-input {
    @apply bg-[#F6F6F6];
}

.form-submit-button {
    @apply block mt-4 w-full bg-brand-1-dark text-neutral-0 text-center px-8 py-4 rounded-md text-lg font-semibold hover:bg-brand-1-default transition-all;
}

.wpcf7-response-output {
    display: none;
}

.faq-item {
    border-radius: 6px;
    padding: 40px 32px;
    background-color: #ffffff;
    transition: background-color 0.3s;
}

.faq-item.active {
    background-color: #000055;
}

.faq-item.active * {
    color: #ffffff;
}

.wpcf7-radio {
    display: flex;
    gap: 16px;
    align-items: center;
}

.wpcf7-list-item {
    margin: 0 !important;
    display: flex;
    align-items: center;
}

.form-field {
    @apply mt-8 flex flex-col md:flex-row gap-4 mb-4;
}

.wpcf7-form-control-wrap {
    
}